@import "../StylingConstants.scss";

@mixin hBox-needs-style {
  -fx-pref-height: $navigation-bar-size;
  -fx-alignment: center-left;
  -fx-background-color: $black;
  -fx-font-family: $font-regular;
}

.navigation-bar {
  @include hBox-needs-style;
  -fx-spacing: $spacing;
  -fx-fill: $white;
  -fx-padding: 0 $spacing;

  .hamburger-container {
    @include hBox-needs-style;
    -fx-padding: $spacing;

    .hamburger-button {
      -fx-fill: $white;
    }
  }

  .tab-group {
    @include hBox-needs-style;
    -fx-background-color: transparent;

    .add-tab-button {
      -fx-border-radius: 0;
      -fx-background-radius: 0;
      -fx-pref-height: $navigation-bar-size;
      -fx-pref-width: $navigation-bar-size;
      -fx-background-color: transparent;
      -fx-fill: $black;

      .icon-24px {
        -fx-scale-x: 0.67;
        -fx-scale-y: 0.67;
        -fx-fill: $white;
      }
    }

    .tab-container {
      @include hBox-needs-style;
      -fx-background-color: transparent;
    }
  }
}

