@import "../../../application/StylingConstants.scss";

@mixin white-background {
  -fx-background: $white;
}

.body {
  -fx-padding: 0;
}

.heading {
  -fx-background-color: $medium-gray;
  -fx-pref-width: $side-bar-width;
  -fx-padding: $padding-smaller;
  -fx-font-family: $font-bold;
}

.side-bar {
  @include white-background;
  -fx-font-family: $font-regular;
}

.v-box {
  @include white-background;
}

.tree-view {
  @include white-background;
}

.icon-24px {
  -fx-scale-x: 0.67;
  -fx-scale-y: 0.67;
}