@import "../../application/StylingConstants.scss";

@mixin default-body {
  -fx-pref-width: 400px;
  -fx-pref-height: 300px;
  -fx-padding: 40px 60px;
  -fx-spacing: $spacing * 4;
  -fx-background-color: $light-gray;
  -fx-effect: $drop-shadow;
}

@mixin default-header {
  -fx-font-size: 22px;
  -fx-text-alignment: center;
  -fx-padding: $spacing 0 $spacing*2 0;
  -fx-font-weight: bold;
}

@mixin default-label {
  -fx-alignment: center-left;
  .text {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
  }
}

@mixin default-textfield {
  -fx-font-size: 14px;
  -fx-background-radius: 0;
  -fx-border-radius: 0;
  -fx-background-color: $white;
  -fx-fill: $dark-gray;
}

@mixin default-button {
  -fx-min-width: 60px;
  -fx-font-size: 14px;
  -fx-border-radius: 0;
  -fx-background-radius: 0;
  -fx-background-color: $dark-gray;
  -fx-text-fill: $white;
  -fx-fill: $dark-gray;
  &:hover {
    -fx-background-color: $black;
  }
}

@mixin default-container {
  -fx-alignment: center-left;
  -fx-spacing: $spacing*3;
}

@mixin default-combo-box {

  .combo-box {
    -fx-effect: dropshadow(gaussian, rgba(28, 28, 28, 0.05), 20, 0, 0, 10);
    -fx-background-color: $white;
  }

  .combo-box-popup .list-view .list-cell {
    -fx-background-color: $white;
    -fx-text-fill: $dark-gray;
  }

  .combo-box-popup .list-view .list-cell:focused {
    -fx-background-color: $sky-blue_20;
    -fx-text-fill: $dark-gray;
  }
}

@mixin extension {
  -fx-alignment: center;
  -fx-pref-width: 400px;
  -fx-spacing: 30px;
  -fx-padding: 0 0 15px 0;

  @include default-combo-box;

  .combo-box {
    -fx-min-width: 200px;
    -fx-min-height: 30px;
    -fx-max-width: 200px;
    -fx-max-height: 30px;
    -fx-spacing: 10px;
    -fx-alignment: center;
  }

  .combo-box-container {
    -fx-spacing: 10px;
    -fx-pref-width: 300px;
    -fx-alignment: center-left;
  }

  .combo-box-header {
    @include default-label;

    .text {
      -fx-font-size: 12px;
    }
  }
}

// ---------------------------------------------------------------------------------------------------------

.new-storyline-body, .new-chapter-body {
  @include default-body;

  .header {
    @include default-header;
  }

  .container {
    @include default-container;

    .label {
      @include default-label;
    }

    .textfield {
      @include default-textfield;
    }
  }

  .cancel-button, .create-button, .set-button {
    @include default-button;
  }
}

// ---------------------------------------------------------------------------------------------------------

.new-event-card-body {
  @include default-body;

  .header {
    @include default-header;
  }

  .container {
    @include default-container;

    .label {
      @include default-label;
    }

    .textfield {
      @include default-textfield;
    }
  }

  .extension {
    @include extension;
  }

  .cancel-button, .create-button, .set-button {
    @include default-button;
  }

}

// ---------------------------------------------------------------------------------------------------------

.new-document-body {
  @include default-body;
  -fx-pref-height: 100px;

  .header {
    @include default-header;
  }

  .container {
    @include default-container;

    .label {
      @include default-label;
    }

    .textfield {
      @include default-textfield;
    }
  }

  .cancel-button, .create-button, .set-button {
    @include default-button;
  }
}

// ---------------------------------------------------------------------------------------------------------

.set-title-body, .set-description-body, .set-color-body {
  @include default-body;
  -fx-pref-height: 100px;

  .header {
    @include default-header;
  }

  .container {
    @include default-container;

    .label {
      @include default-label;
    }

    .textfield {
      @include default-textfield;
    }

    .color-picker {
      -fx-pref-width: 300px;
      -fx-min-height: 30px;
      -fx-background-color: $white;
      -fx-effect: dropshadow(gaussian, rgba(28, 28, 28, 0.05), 20, 0, 0, 10);
    }
  }

  .cancel-button, .create-button, .set-button {
    @include default-button;
  }
}

// ---------------------------------------------------------------------------------------------------------

.move-to-chapter-body, .move-to-storyline-body {
  @include default-body;
  -fx-pref-height: 200px;
  -fx-pref-width: 300px;

  .header {
    @include default-header;
  }

  .extension {
    @include extension;
    -fx-padding: 0;
    -fx-alignment: center;

    .combo-box-container {
      -fx-alignment: center;

      .combo-box {
        -fx-pref-width: 250px;
        -fx-pref-height: 50px;
      }
    }
  }

  .cancel-button, .create-button, .set-button {
    @include default-button;
  }
}

// ---------------------------------------------------------------------------------------------------------

.set-time-period-body {
  @include default-body;
  -fx-pref-height: 400px;
  -fx-pref-width: 650px;

  .header {
    @include default-header;
  }

  .container {
    @include default-container;

    .label {
      @include default-label;
    }

    .textfield {
      @include default-textfield;
    }

    .color-picker {
      -fx-pref-width: 300px;
      -fx-min-height: 30px;
      -fx-background-color: $white;
      -fx-effect: dropshadow(gaussian, rgba(28, 28, 28, 0.05), 20, 0, 0, 10);
    }
  }

  .cancel-button, .create-button, .set-button {
    @include default-button;
  }
}