@import "../../application/StylingConstants";

.tree-cell {
  -fx-background-color: $white;

  &:hover {
    -fx-background-color: $sky-blue_20;
  }

  &:selected {
    -fx-text-fill: $medium-gray;
    -fx-background-color: $lavender_20;
  }
}

