@import url('../../../application/font.css');

Line {
    -fx-stroke-width: 7;
}

.body {
    -fx-padding: 0 200 0 0;
}

.title {
    -fx-font-family: "Sarabun ExtraBold";
    -fx-font-size: 18px;
    -fx-background-color: transparent;
    -fx-opacity: 1.0;
}

.title:disabled {
    -fx-font-family: "Sarabun";
    -fx-font-size: 18px;
    -fx-background-color: transparent;
    -fx-opacity: 0.8;
}