@import url("file:src/application/font.css");

StackPane {
    -fx-padding: 10 15 10 15;
}

#dateTime {
    -fx-padding: 10 15 10 15;
    -fx-spacing: 5;
}

#date {
    -fx-font-family: "NotoSans";
    -fx-font-weight: bold;
    -fx-font-size: 24px;
    -fx-fill: #FF3E60;
}

#time {
    -fx-font-family: "NotoSans";
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-fill: #FF3E60;
}

#card {
    -fx-background-radius: 20 20 20 20;
    -fx-effect: dropshadow(gaussian, rgba(28,28,28,0.1), 20, 0, 0, 10);
}

#cardTitleContainer {
    -fx-background-color: #FF3E60;
    -fx-background-radius: 20 20 0 0;
}

#cardTitle:disabled {
    -fx-font-family: "NotoSans";
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-text-fill: #FFFFFF;
    -fx-background-color: transparent;
    -fx-opacity: 1.0;
}

#cardTitle {
    -fx-font-family: "NotoSans";
    -fx-font-weight: normal;
    -fx-font-size: 14px;
    -fx-text-fill: #FFFFFF;
    -fx-background-color: #FF3E60;
    -fx-opacity: 0.8;
}

#cardDescriptionContainer {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 0 0 20 20;
}

#cardDescription:disabled {
    -fx-font-family: "NotoSans";
    -fx-font-weight: normal;
    -fx-font-size: 12px;
    -fx-text-fill: #1C1C1C;
    -fx-background-color: transparent;
    -fx-opacity: 1.0;
}

#cardDescription {
    -fx-font-family: "NotoSans";
    -fx-font-weight: normal;
    -fx-font-size: 12px;
    -fx-text-fill: #1C1C1C;
}

#cardDescription .content {
    -fx-background-color: transparent, white, transparent, white;
}


