StackPane {
    -fx-padding: 10 15 10 15;
}

#date-time {
    -fx-padding: 10 15 10 15;
    -fx-spacing: 5;
}

#date {
    -fx-font-family: "NotoSans";
    -fx-font-weight: bold;
    -fx-font-size: 24px;
    -fx-fill: #FF3E60;
}

#time {
    -fx-font-family: "NotoSans";
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-fill: #FF3E60;
}

#card {
    -fx-background-radius: 20 20 20 20;
    -fx-effect: dropshadow(gaussian, rgba(28,28,28,0.1), 20, 0, 0, 10);
}

#card-title {
    -fx-background-color: #FF3E60;
    -fx-background-radius: 20 20 0 0;
}

#card-title Text {
    -fx-font-family: "NotoSans";
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-fill: #FFFFFF;
}

#card-description {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 0 0 20 20;
}

#card-description Text {
    -fx-font-family: "NotoSans";
    -fx-font-weight: bold;
    -fx-font-size: 12px;
    -fx-fill: #1C1C1C;
}