@font-face {
    font-family: "Sarabun ExtraBold";
    font-weight: 800;
    font-style: normal;
    src: url('../fonts/Sarabun-ExtraBold.ttf') format('truetype');
}

@font-face {
    font-family: "Sarabun";
    font-weight: 400;
    font-style: normal;
    src: url('../fonts/Sarabun-Regular.ttf') format('truetype');
}