@import "../../../application/StylingConstants.scss";

.document-tab-container {
  -fx-pref-height: $navigation-bar-size;
  -fx-alignment: center-left;
  -fx-spacing: $spacing;
  -fx-background-color: $dark-gray;
  -fx-padding: 0px $spacing;

  &.active {
    -fx-background-color: $medium-gray;
  }

  .document-tab-text {
    -fx-text-fill: $white;
  }

  .document-tab-button {
    -fx-padding: 0;
    -fx-fill: $white;
    -fx-background-color: transparent;
  }

  .icon-24px {
    -fx-scale-x: 0.67;
    -fx-scale-y: 0.67;
    -fx-fill: $white;
  }
}

.document {
  -fx-padding: 0 0 400 0;
}